# ────────────────────────────────────────────────
# Secret Santa Bot — Muhit o'zgaruvchilari
# Bu faylni .env deb saqlang va .gitignore ga qo'shing!
# ────────────────────────────────────────────────

# BotFather dan olgan tokeningizni shu yerga yozing:
BOT_TOKEN=8573185753:AAGuwRFXYvANO7YhqB0eV063FC6usXeSnWY
